<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message || nikfolio</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding:10px;
            margin: auto;
        }

        th{
            color: black;
            font-weight: 800;
            font-size: 19px;
        }

        h1,h3{
            text-align: center;
        }

        h1{
            width: 300px;
            border: 2px solid red;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1>Admin Dashboard - (Messages)</h1>
    <h1 style="border: none;"><button><a href="/admin/verified">Check subscribers</a></button></h1>
    <h3>No. of work email : <%= array.length  %></h3>

    <br>

    <h3>email of subscriber</h3>
    <br><br>

    <div id="followerContainer">
        <table>
            <tr>
              <th>s. no.</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Message</th>
            </tr>
            <% for( let index = 0; index < array.length; index++ ) { %>
                <tr>
                    <td><%=index+1%></td>
                    <td><%= array[index].useremail %></td>
                    <td><%= array[index].phone %></td>
                    <td><%= array[index].message %></td>
                </tr>
            <% } %>
            
          </table>
    </div>

    <br><br>


    <script>
        console.log(array)
    </script>
</body>
</html>