<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="/static/css/index.css">
<script src="https://kit.fontawesome.com/b37c45463e.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Inconsolata:wght@200;500&family=Kalam&family=Lobster&family=Noto+Sans:ital@1&family=Signika:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div id="hometag"></div>
    <%- include('./partials/sidebar') %>

    <%- include("./partials/firstHome") %>
    <br><br>
    <div id="abouttag"></div>
    <br><br>
    <%- include('./partials/home') %>
    <br><br><br><br>
    <div id="skillstag"></div>
    <%- include('./partials/skills')  %>
    <div id="projecttag"></div>
    <%- include("./partials/project")  %>
    <div id="hiremetag"></div>
    
    <%- include("./partials/hireme") %>

    <div id="sendMessagetag"></div>

    <%- include("./partials/sendMessage") %>



    
    <%- include('./partials/fotter') %>
    
    
    
    
    
    


    
    

    



    
</body>
</html>